numpy
matplotlib
scipy
requests
asyncio
colorama
cv
crypto
beautifulsoup4
dateparser
ipython
ipython-genutils
opencv-python
pandas
pickleshare
Pillow
tqdm
progress
PyAutoGui
Pygments
pylint
pyqt5
pyqt5-sip
pyqt5-stubs
pyshark
sockets
Sphinx
tcl
tk
youtube-dl
pwntools
sqlmap
